body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden; 
    
}
main {
    position: absolute;
    top: 100px;      
    bottom: 140px;  
    left: 0;
    right: 0;
    overflow-y: auto;   
    overflow-x: hidden; 
    padding: 20px;
    
  }
header {
    position:sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px 20px;
    
    
}
.search-bar input {
    padding: 6px;
    margin-left: 400px;

  
  }
  .search-bar button {
    padding: 6px;
    cursor: pointer;
  }

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0;  
    
}
nav ul li a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 18px;
}

 nav ul li a:hover {
    color:orangered;
}
.inline-images {
    display: flex;            

    }
.inline-images img {
    width: 250px;
    height: 200px;
   }
.rating {
    font-size: 30px;

}
.rating input {
    display: none;
    position:fixed;
}
.rating label {
    color: lightgray; 
    cursor: pointer;
    transition: color 0.2s;
}
.rating label:hover,
.rating label:hover ~ label {
    color: yellow;
}
.rating input:checked ~ label {
    color: yellow;
}
footer {
    position: fixed;  
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    
}
